Source: kdeclarative
Section: libs
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 1.0.0),
               kio-dev (>= 5.0.0),
               libkf5attica-dev (>= 5.0.0),
               libkf5auth-dev (>= 5.0.0),
               libkf5bookmarks-dev (>= 5.0.0),
               libkf5codecs-dev (>= 5.0.0),
               libkf5completion-dev (>= 5.0.0),
               libkf5config-dev (>= 5.0.0),
               libkf5configwidgets-dev (>= 5.0.0),
               libkf5coreaddons-dev (>= 5.0.0),
               libkf5dbusaddons-dev (>= 5.0.0),
               libkf5globalaccel-dev (>= 5.0.0),
               libkf5guiaddons-dev (>= 5.0.0),
               libkf5i18n-dev (>= 5.0.0),
               libkf5iconthemes-dev (>= 5.0.0),
               libkf5itemviews-dev (>= 5.0.0),
               libkf5jobwidgets-dev (>= 5.0.0),
               libkf5kjs-dev (>= 5.0.0),
               libkf5service-dev (>= 5.0.0),
               libkf5solid-dev (>= 5.0.0),
               libkf5sonnet-dev (>= 5.0.0),
               libkf5textwidgets-dev (>= 5.0.0),
               libkf5widgetsaddons-dev (>= 5.0.0),
               libkf5windowsystem-dev (>= 5.0.0),
               libkf5xmlgui-dev (>= 5.0.0),
               openbox,
               pkg-config,
               pkg-kde-tools,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtscript5-dev,
               xauth,
               xvfb
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/kdeclarative
Vcs-Browser: http://bazaar.launchpad.net/~kubuntu-packagers/kubuntu-packaging-next/kdeclarative
Vcs-Bzr: https://code.launchpad.net/~kubuntu-packagers/kubuntu-packaging-next/kdeclarative

Package: libkf5declarative-dev
Section: libdevel
Architecture: any
Depends: kio-dev,
         libkf5declarative5 (= ${binary:Version}),
         qtbase5-dev,
         ${misc:Depends}
Description: development files for kdeclarative
 Framework providing integration of QML and other KDE frameworks such
 as making i18n available and using kio.
 .
 Contains development files for kdeclarative.

Package: libkf5declarative5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Replaces: libkf5declarative-data
Description: provides integration of QML and KDE frameworks
 Framework providing integration of QML and other KDE frameworks such
 as making i18n available and using kio.
Multi-Arch: same
Recommends: qtdeclarative5-kf5declarative (= ${binary:Version})

Package: qtdeclarative5-kf5declarative
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: qtdeclarative5-kf5declarative-5.0
Replaces: qtdeclarative5-kf5declarative-5.0
Description: provides integration of QML and KDE frameworks
 Framework providing integration of QML and other KDE frameworks such
 as making i18n available and using kio.
 .
 This package contains the QML files used by libkf5declarative.

Package: libkf5declarative5-dbg
Priority: extra
Section: debug
Architecture: any
Multi-Arch: same
Depends: libkf5declarative5 (= ${binary:Version}), ${misc:Depends}
Description: debug symbols for kdeclarative
 Framework providing integration of QML and other KDE frameworks such as making
 i18n available and using kio.
 .
 Contains debug symbols for kdeclarative.
